/* ==================================================================
 * Font
 * ==================================================================
 */

body {
    font-family: Plain, Arimo, Open Sans, sans-serif;
    font-size: 14px;
    line-height: 20px;
    color: #000000;
}

h3 {
    font-size: 20px;
    line-height: 28px;
    letter-spacing: -0.004em;
    margin-block-start: 0em;
    margin-block-end: 0em;
}

h4 {
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.004em;
    margin-block-start: 0em;
    margin-block-end: 0em;
}

/* ==================================================================
 * Links
 * ==================================================================
 */

a {
    display: inline-block;
    font-size: 12px;
    line-height: 16px;
    color: #2E75F0;
    text-decoration: none;
}

a.txt:after {
    content: '';
    display: block;
    width: 0;
    border-bottom: 0.7px solid;
    margin: 0 auto;
    transition: all 0.3s linear 0s;
}

a.txt:hover::after {
    width: 90%;
}

/* ==================================================================
 * Line
 * ==================================================================
 */

hr {
    border-top: 1px solid #DBDFE7;
    margin-block-start: 0;
    margin-block-end: 0;
}

/* ==================================================================
 * Color
 * ==================================================================
 */

.gray-txt {
    color: #777E8B;
}

/* ==================================================================
 * Spacing: Margin + Padding
 * ==================================================================
 */

 .block-1 {
    margin-top: 1em;
    margin-bottom: 1em;
 }

 .block-1p5 {
    margin-top: 1.5em;
    margin-bottom: 1.5em;
 }

 .ml-1em {
    margin-left: 1em;
 }

/* ==================================================================
 * Container
 * ==================================================================
 */

 .flex-container {
    display: flex;
    align-items: baseline;
 }

.flex-center {
    align-items: center;
}

.flex-item {
    margin: 0 1em;
}

.flex-item-halfm {
    margin: 0 0.5em;
}

.search-container {
    margin-top: 10px;
    padding: .75em;
    border: 1px solid #A5ACB9;
    border-radius: 2px 0 0 2px;
    opacity: 0.4;
}

 /* ==================================================================
 * Image in a circle
 * ==================================================================
 */

 .image-cropper {
    min-width: 56px;
    height: 56px;
    position: relative;
    overflow: hidden;
    border-radius: 50%;
}

.profile-pic {
    display: inline;
    margin: 0 auto;
    height: 100%;
    width: auto;
}

.no-profile-pic {
    background: #48D1E0;
    color: #FFFFFF;
    min-width: 56px;
    height: 56px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-size: 32px;
}

.overlap-pic {
    margin-left: -18px;
}

/* ==================================================================
 * Button
 * ==================================================================
 */

.button {
    border-radius: 16px;
    padding: 8px 24px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

.blue-button {
    background: #2E75F0;
    color: #FFFFFF;
}

.blue-button:hover {
    background: #FFFFFF;
    color: #2E75F0;
    box-shadow: 0 0 1px #2E75F0;
}

.gray-button {
    background: #EAEDF2;
    color: #000000;
}

.gray-button:hover {
    background: #000000;
    color: #EAEDF2;

}

/* ==================================================================
 * Form
 * ==================================================================
 */

.form {
    margin-top: 10px;
    padding: 12px;
    border: 1px solid #E6E6E6;
    box-shadow: inset 0px 1px 3px rgba(0,0,0,0.3);
    resize: none;
    width: 97%;
    font-family: Plain, Arimo, Open Sans, sans-serif;
    font-size: 14px;
    line-height: 20px;
    color: #777E8B;
}